/projects/unix/_obj*/
/projects/unix/libmupen64plus*.so*
*.o
*.d
src/asm_defines/
*.dylib
projects/unix/libmupen64plus.dylib
src/asm_defines/asm_defines_gas.h
projects/.DS_Store
src/asm_defines/asm_defines_nasm.h
